@value colors: "./../../assets/scss/variable.scss";
@value color-32 from colors;

.product__item__thumbnail {
    background: color-32;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    > img {
        object-fit: cover;
        max-width: 100%;
    }
}